
@{
    ViewBag.Title = "politicadeprivacidad";
    Layout = "~/Views/Shared/_LayoutPaginaWebAppsfit1.cshtml";
}
<link href="~/Content/applogin1/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/appsfit_crm/assets/css/theme.css" rel="stylesheet" />
<link href="~/Content/appsfit_crm/assets/css/theme.min.css" rel="stylesheet" />
<link href="~/Content/appsfit_crm/assets/css/user.css" rel="stylesheet" />
<link href="~/Content/appsfit_crm/assets/css/user.min.css" rel="stylesheet" />
<link href="~/Content/appsfit_crm/assets/css/theme-rtl.css" rel="stylesheet" />
<main class="main-content">

    <section class="about type_one" style="background-color: #edf2f9; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 pe-lg-2">
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <h5 class="mb-0" id="account">
                                POLÍTICA DE PRIVACIDAD
                            </h5>
                        </div>
                        <div class="card-body" style="background-color: #fff; ">

                            <h6 class="text-primary" id="general">
                                1.General
                            </h6>
                            <p class="mb-0 ps-3">
                                POR FAVOR LEE CUIDADOSAMENTE ESTAS POLÍTICAS DE PRIVACIDAD, YA QUE CONTIENEN INFORMACIÓN IMPORTANTE REFERENTE A LAS CONDICIONES Y CLÁUSULAS SOBRE EL MANEJO DE LA INFORMACIÓN, ASÍ COMO LAS OBLIGACIONES Y DISPOSICIONES LEGALES Y NORMATIVAS RELACIONADAS CON EL USO DE ESTA POR PARTE DE NOSOTROS.

                                Bienvenido a APPSFIT. APPSFIT ofrece un software de gestión para centros fitness y wellness y una app para compra y reserva de sus usuarios. Software que se ofrece a través de plataforma, app y otros (en adelante APPSFIT) Al hablar de Usuarios en este documento, estamos haciendo referencia a las personas de las cuales recopilamos, tratamos y almacenamos información personal, incluímos aquí a los Usuarios de los centros fitness y wellness (en adelante Usuarios del centro de acondicionamiento físico) quienes deberán aceptar esta política de privacidad. Lo anterior lo hacemos con el fin de desarrollar nuestro objeto social.

                                APPSFIT está comprometido con proteger la información del Usuario. Por lo tanto, respeta y protege los datos de los Usuarios para garantizar el adecuado cumplimiento de los estándares internacionales, por las cuales se desarrolla el derecho constitucional que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos, y los demás derechos, libertades y garantías que tienen los Usuarios.
                            </p>
                            <hr class="my-4">
                            <h6 class="text-primary" id="definiciones">2.Definiciones</h6>
                            <p class="mb-0 ps-3">
                                Antes de entrar en materia, es importante establecer las definiciones de algunos conceptos para que sepas qué queremos decir con ellos. Siempre que te surja alguna duda en este sentido, puedes regresar a esta lista para resolverla.
                            </p>
                            <br />
                            <ul>
                                <li>
                                    <b>a) Usuario: </b>Cada una de las personas naturales con las que se relacionan los datos personales.
                                </li>
                                <li>
                                    <b>b) Datos  Personales: </b>Conjunto de información susceptible de relacionarse a una o más personas naturales.
                                </li>
                                <li>
                                    <b>c) Tratamiento de Datos (o “Tratamiento”):</b> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, grabación, registro, organización, conservación, modificación, extracción, consulta, transmisión, supresión, destrucción, utilización.
                                </li>
                                <li>
                                    <b>d) Responsable del Tratamiento:</b> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos.
                                </li>
                                <li>
                                    <b>e) Encargado del Tratamiento:</b> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento.
                                </li>
                                <li>
                                    <b>f) Base de Datos:</b> Conjunto organizado de datos personales que sea objeto de Tratamiento.
                                </li>
                            </ul>

                            <hr class="my-4">
                            <h6 class="text-primary" id="reglamento_">3.Reglamento General de Protección de Datos Personales</h6>
                            <p class="mb-0 ps-3">
                                APPFIT implementa su recolección y tratamiento de datos, de acuerdo con la normatividad legal vigente, por lo cual:
                            </p>
                            <br />
                            <ul>
                                <li>
                                    <b>a) </b>Cuenta con un protocolo de seguridad establecido e implementado por todo el equipo de trabajo, el cual está capacitado con todas las normas de seguridad sobre los datos personales que se recolectan y almacenan en APPFIT, para un uso apropiado de esta información.
                                </li>
                                <li>
                                    <b>b) </b>Utiliza para el manejo de la información, herramientas e integraciones con terceros que cumplen con estándares internacionales con fines específicos sin derecho a ser compartidos o usados con un propósito distinto al que autorizó inicialmente el Usuario.
                                </li>
                                <li>
                                    <b>c) </b>Cumple con principios generales de estándares internacionales en cuanto a calidad de los datos, consentimiento y derecho de información; y le ofrece a todos los Usuarios de los datos, los derechos de acceso, rectificación, portabilidad de los datos, restricción, supresión y oposición.
                                </li>
                                <li>
                                    <b>d) </b>Cumple con los criterios generales de licitud, lealtad y transparencia del tratamiento de datos. Los fines estan determinados, explícitos y son legítimos.
                                </li>
                                <li>
                                    <b>e) </b>Aplica la minimización de datos, al recolectar solo los datos adecuados, pertinentes y limitados a lo necesario. Garantiza la exactitud y actualización de los mismos y los conserva sólo por el tiempo necesario para los fines del tratamiento.
                                </li>
                                <li>
                                    <b>f) </b> Adecua las medidas técnicas y organizativas apropiadas para garantizar un nivel de seguridad adecuado.
                                </li>
                            </ul>

                            <hr class="my-4">
                            <h6 class="text-primary" id="politica_tratamiento">4.Política de Tratamiento o Manejo de Datos Personales</h6>
                            <p class="mb-0 ps-3">
                                APPFIT requiere del consentimiento libre, previo, expreso e informado del Usuario de los datos personales para el tratamiento de los mismos, excepto en los casos expresamente autorizados en la ley. Dicha autorización será otorgada por el Usuario, quien deberá acreditar su identidad en forma suficiente, según las condiciones indicadas por nosotros; o los causahabientes, acudientes, representantes o apoderados del Usuario, quienes deberán acreditar tal calidad, representación o apoderamiento.
                                <br /><br />
                                El Usuario autoriza a APPFIT para utilizar, transferir a terceros, almacenar y usar la información personal del Usuario con el fin de desarrollar su objeto social, mejorar el servicio en APPSFIT y de los servicios comerciales que presta. En relación con los Usuarios del centro de acondicionamiento físico estos aceptan que sus datos personales estén a disposición del centro de acondicionamiento físico, es decir, que se transfieran a estos centros para que sean utilizados de acuerdo con la política de privacidad de cada uno de ellos, a excepción de la información de pago.
                                <br /><br />
                                APPFIT, tiene como domicilio principal la ciudad de Lima - Perú. La política de tratamiento de los datos así como los Términos y Condiciones y la Política de Privacidad pueden encontrarse en nuestra página web https://appsfit.net/softwareparagimnasios
                            </p>

                            <hr class="my-4">
                            <h6 class="text-primary" id="autorizacion_usuario">5.Autorización del Usuario para el Tratamiento de Datos</h6>
                            <p>
                                APPFIT con el fin de garantizar el principio del consentimiento, obtiene la autorización del Usuario para el Tratamiento de Datos de manera gratuita, clara y transparente, mediante diferentes medios, entre ellos el documento físico, correo electrónico, página web, o en cualquier otro formato que permita evidenciar que se divulgó la Política de Tratamiento de Información y que el Usuario autoriza el Tratamiento de sus datos personales.
                                <br /><br />
                                APPFIT podrá entregar la información de los Usuarios de los Datos a los siguientes:
                            </p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    A los Usuarios de los datos, sus herederos o representantes en cualquier momento y a través de cualquier medio cuando así lo soliciten a APPFIT.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    A las entidades judiciales o administrativas en ejercicio de funciones que eleven algún requerimiento a APPFIT para que le sea entregada la información.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    A los terceros que sean autorizados por alguna ley.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    A los terceros a los que el Usuario de los Datos autorice expresamente para entregar la información y cuya autorización sea entregada a APPFIT.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    En el caso de los Usuarios del centro de acondicionamiento físico, autorizan expresamente que su información, a excepción de la información de pago, sea entregada al centro de acondicionamiento físico.
                                </li>
                            </ul>
                            <p>
                                La Autorización del Usuario no será necesaria en los siguientes casos:
                            </p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Datos de naturaleza pública.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Casos de urgencia médica o sanitaria.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Datos relacionados con el Registro Civil de las Personas.
                                </li>
                            </ul>
                            <p>
                                Los Usuarios de los datos personales pueden en cualquier momento revocar la autorización otorgada a APPFIT para el Tratamiento de sus datos personales o solicitar la supresión de los mismos, siempre y cuando no lo impida una disposición legal o contractual.
                            </p>
                            <hr class="my-4">
                            <h6 class="text-primary" id="finalidades">6. Finalidades y Usos de los Datos Personales</h6>
                            <p class="mb-0 ps-3">
                                APPFIT en el desarrollo de su objeto social y de las relaciones con empleados, clientes, proveedores, acreedores, aliados estratégicos, filiales, distribuidores, entre otros, recolecta datos que se limitan a aquellos datos personales que son pertinentes y adecuados para las siguientes finalidades:
                            </p>
                            <br />
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Desarrollar actividades administrativas, de recursos humanos, nómina y de gestión interna del Software APPSFIT.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Establecer la información consolidada y actualizada de los clientes y terceros.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Desarrollar actividades comerciales, promocionales, publicitarias e informativas propias y de terceros.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Enviar publicidad e información de interés propia y de terceros.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Crear un conocimiento cercano de sus clientes y terceros para actividades de segmentación, mercadeo y ventas.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Contactar a los Usuarios para monitorear y evaluar la calidad de nuestros servicios.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Desarrollar actividades de gestión de proveedores, entre ellos la facturación, gestión comercial y cobros.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Mejorar la experiencia del Usuario.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Conocer las preferencias de los Usuarios.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Utilizar la información para fines estadísticos y análisis de industria. Esta información será tomada y en ningún caso será asociada a las personas que suministran la información.
                                </li>
                            </ul>
                            <p class="mb-0 ps-3">
                                En relación con las anteriores finalidades, APPFIT podrá:
                            </p>
                            <br />
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Obtener, almacenar, compilar, intercambiar, actualizar, recolectar, procesar, reproducir y/o disponer de los datos o información parcial o total de los Usuarios de los datos personales.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Clasificar, ordenar y segmentar la información suministrada por el Usuario de los datos.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Comparar, verificar y validar los datos que obtenga en debida forma con centrales de riesgo crediticio con las cuales se tengan relaciones comerciales.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Extender la información que obtenga, en los términos de la Ley, a las empresas con las que contrata los servicios de recolección, almacenamiento, manejo y Tratamiento de sus Bases de Datos previas las debidas autorizaciones y requerimientos legales que en ese sentido sean necesarias.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Transferir los datos o información parcial o total a sus filiales, comercios, empresas y/o entidades afiliadas y aliados estratégicos.
                                </li>
                            </ul>
                            <hr class="my-4">
                            <h6 class="text-primary" id="autorizacion_expresa">7.Autorización Expresa para la Transferencia de Datos Personales</h6>
                            <p class="mb-0 ps-3">
                                Tus datos serán procesados en Perú y se podrán procesar en cualquier otro país dependiendo de la ubicación de los afiliados, socios comerciales y demás entidades a las que se permita el acceso a esta información bajo las condiciones de las presentes Políticas de Privacidad. Al acceder o utilizar APPSFIT, o al transmitirnos tus datos personales, accedes específicamente a dicha transferencia y a cualquier finalidad relacionada con ella.
                                <br /><br />
                                Es importante señalar que entre los lugares donde tus datos podrían ser procesados podrían figurar países que no gocen del mismo grado de protección de datos que el país desde el cual la información ha sido proporcionada.  Si este es el caso, adoptaremos todas las medidas razonables para garantizar que tus datos sean tratados con los niveles de protección y seguridad que recibirían si estuvieran en Perú.

                            </p>
                            <hr class="my-4">
                            <h6 class="text-primary" id="derechos_usuario">8.Derechos de los Usuarios de los datos</h6>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Conocer, acceder, actualizar, rectificar, suprimir y consultar sus Datos Personales en cualquier momento respecto a los datos que considere parciales, inexactos, incompletos, fraccionados, aquellos que induzcan a error o aquellos cuyo Tratamiento está expresamente prohibido o no haya sido autorizado.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Solicitar en cualquier momento una prueba de la autorización otorgada a APPFIT.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Ser informado por APPFIT del uso que le ha dado a Datos Personales, previa solicitud.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Consultar los mecanismos de control y seguridad dispuestos y solicitar información específica relacionada.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Solicitar la supresión de algún dato y/o revocar la autorización cuando considere que  APPFIT no ha respetado sus derechos y garantías constitucionales, o simplemente cuando desee hacerlo.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Presentar ante la Superintendencia de Industria y Comercio las quejas que considere pertinentes para hacer valer su derecho al Habeas Data frente a APPFIT .

                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Objetar, reclamar, quejarse y solicitar la portabilidad de sus datos.
                                </li>
                            </ul>
                            <hr class="my-4">
                            <h6 class="text-primary" id="retencion_informacion">9.Retención de la Información</h6>
                            <p>
                                APPFIT retiene su información personal durante el período que sea necesario para los fines establecidos en esta política de privacidad. A veces, podrá retener tu información durante períodos más prolongados según lo permita o exija la ley, por ejemplo, para mantener listas de supresión, prevenir abusos, si se requiere en relación con una reclamación o un procedimiento legal, para hacer cumplir nuestros acuerdos, por motivos tributarios o de contabilidad, o para cumplir con otras obligaciones legales. Cuando ya no tengamos una necesidad legítima para procesar su información, borraremos o anonimizaremos su información de nuestras bases de datos activas. También almacenaremos la información de forma segura y la aislaremos en discos de respaldo para evitar que se procese hasta que se pueda realizar la eliminación.
                            </p>
                            <hr class="my-4">
                            <h6 class="text-primary" id="deberes_">10.Deberes de APPFIT como responsable del Tratamiento</h6>
                            <p>
                                APPFIT reconoce que los Datos Personales son propiedad de sus Usuarios y que únicamente ellos podrán decidir sobre estos. De acuerdo a lo anterior, APPFIT asume los siguientes deberes en su calidad de Responsable del Tratamiento:
                            </p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Contar con el canal para obtener la autorización expresa por parte del Usuario para realizar cualquier tipo de tratamiento de datos.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Solicitar y conservar, en las condiciones previstas en la Ley de Protección de Datos Personales, copia de la respectiva autorización otorgada por el Usuario.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Informar de manera clara y expresa a Usuarios de los Datos el Tratamiento al cual serán sometidos los mismos y la Finalidad de dicho Tratamiento por virtud de la autorización otorgada.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Garantizar al Usuario de la información, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Suministrar al Encargado del Tratamiento, según el caso, únicamente datos cuyo tratamiento esté previamente autorizado de conformidad con lo previsto en la Ley de Datos Personales.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Informar los derechos que le asisten a todos los Usuarios respecto a sus datos.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Mantener y velar por la seguridad de los registros de Datos Personales almacenados para impedir su deterioro, pérdida, alteración, uso no autorizado o fraudulento
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Realizar periódica y oportunamente la actualización y rectificación de los datos, cada vez que los Usuarios de los mismos le reporten novedades o solicitudes.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Informar la identificación, dirección física y/o electrónica y teléfono de la persona o área que tendrá la calidad de Responsable del Tratamiento.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    En caso de haber cambios sustanciales en el contenido de esta Política de Tratamiento de Información los cuales puedan afectar el contenido de la autorización que el Usuario le ha otorgado a APPFIT, esta le comunicará oportunamente y de manera eficiente los cambios antes de o a más tardar al momento de implementación de las nuevas políticas.
                                </li>
                            </ul>


                            <hr class="my-4">
                            <h6 class="text-primary" id="informacion_recibida">11.Información recibida de los Usuarios</h6>
                            <p>
                                APPFIT puede recopilar dos tipos de datos e información:
                            </p>
                            <p>
                                11.1 Información No Personal: Es información anónima y no identificable ("información No Personal"). APPFIT no conoce la identidad del Usuario que por primera vez ingresa a la página sin iniciar sesión o registrarse como Usuario. La información no personal se clasifica en información técnica e información de comportamiento, como se detalla a continuación:
                            </p>
                            <p>11.1.1 Información técnica</p>

                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Tipo de sistema operativo (Windows, Linux, etc..)
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Tipo de navegador (Explorer, Firefox, Chrome, Safari, etc..)
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Resolución de la pantalla (por ejemplo 800 x 600, 1024 x 768, etc..)
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Idioma teclado y navegador (por ejemplo, Inglés)
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Dirección IP.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Las configuraciones de los computadores, ajustes y cualquier otro dato técnico o información similar.
                                </li>
                            </ul>
                            <p>11.1.2 Información de comportamiento</p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Enlaces que el Usuario utiliza durante la navegación en la página.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Información relacionada con las actividades del Usuario en la página, como la fecha de ingreso, hora en que se accede a la página, duración de la visita a la página, entre otros.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Cualquier información sobre el comportamiento en la página.
                                </li>
                            </ul>
                            <p>11.1.3 Información de ubicación: </p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Si el Usuario permite a la página acceder a los servicios de ubicación a través del sistema de permisos que utiliza el sistema operativo para móviles, APPFIT también podrá recopilar la ubicación exacta del dispositivo del Usuario o la ubicación aproximada de la dirección IP.
                                </li>
                            </ul>
                            <p>11.1.4 Uso e información de preferencias:  </p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Recopilamos información sobre el Usuario y los visitantes de APPSFIT cuando interactúan con los Servicios, preferencias expresadas y configuraciones seleccionadas. En algunos casos APPFIT lo hace a través del uso de cookies, etiquetas de píxel y tecnologías similares que crean y mantienen identificadores únicos.
                                </li>
                            </ul>

                            <p>11.1.5. Información del dispositivo:   </p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Podemos recopilar información acerca del dispositivo móvil del Usuario, lo que incluye, por ejemplo, el modelo de hardware, el sistema operativo y la versión, los nombres y las versiones de los archivos y el software, el idioma preferido, el identificador único de dispositivo, identificadores de publicidad, el número de serie, la información de movimiento del dispositivo y la información de la red móvil.
                                </li>
                            </ul>
                            <p>11.1.6. Información del registro:  </p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Cuando el Usuario interactúa con APPSFIT, APPFIT recopila los registros del servidor, que pueden incluir información como direcciones IP del dispositivo, fechas y horas de acceso, funciones de la página web o las páginas visitadas, bloqueos de la página web y otra actividad del sistema, tipo de navegador y el sitio de terceros o servicio que estaba utilizando antes de interactuar con nuestros Servicios.
                                </li>
                            </ul>
                            <p>111.2 Información Personal:  </p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Es información individualmente identificable ("Información Personal")  que identifica al Usuario y es de carácter privado. La Información Personal recopilada por APPFIT consta de los datos personales ingresados voluntariamente por el Usuario y que serán necesarios para la prestación del servicio.
                                </li>
                            </ul>


                            <hr class="my-4">
                            <h6 class="text-primary" id="basededatos">12.Base de Datos</h6>
                            <p>APPFIT actúa como responsable y encargada del tratamiento de las siguientes bases de datos:</p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Base de datos de los Usuarios de APPFIT.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Base de datos de los clientes, proveedores, ventas, compras, gastos e inventarios de productos de la empresa que contrata el servicio.
                                </li>
                            </ul>
                            <p>Cada base de datos recopila y almacena la información personal respectiva, con autorización previa y de acuerdo a los fines establecidos en la presente política de privacidad. Dicha información puede tener manejo interno, es decir, dentro del LOBBY y/o externo, como con proveedores o terceros.  La información personal contenida en esta base de datos es custodiada mientras dura la relación comercial más un periodo adicional de 10 años. Si en un caso individual, existen indicios de una necesidad de protección o de interés histórico de estos datos, se prolongará el plazo de almacenamiento hasta que se haya aclarado la necesidad legal de protección.</p>
                            <hr class="my-4">
                            <h6 class="text-primary" id="recopilacion_informacion">13.Recopilación de la información de los Usuarios</h6>
                            <p>Existen dos momentos en que APPFIT recibe la información:</p>
                            <p>13.1. Al momento en que el Usuario diligencia el formulario.</p>
                            <p>13.2. Cuando el Usuario carga cualquier otro tipo de información en APPSFIT de manera posterior.</p>



                            <hr class="my-4">
                            <h6 class="text-primary" id="transferencia_terceros">14.Transferencia de Datos a Terceros</h6>
                            <p class="ps-3">Como norma general, sus datos no se transmitirán a terceros, excepto en los casos en los que legalmente autorizados a hacerlo, en caso de que la transferencia de datos sea necesaria para el establecimiento de la relación contractual o cuando nos hayas dado tu consentimiento explícito previo para la transferencia de los datos. En el caso de los Usuarios del centro de acondicionamiento físico estos autorizan a que sus datos sean transferidos por los centros a los cuales se afilian y el tratamiento será realizado de acuerdo con la política de privacidad de estos.</p>
                            <p class="ps-3">Para el manejo interno de los datos, éstos podrán ser conocidos por el personal autorizado de APPFIT, los cuales deberán conocer los procedimiento de seguridad y recolección de datos.</p>
                            <p class="ps-3">Para el manejo externo de los datos, es decir, cuando le transfiero o transmito los datos personales a terceros, como a los proveedores o empresas afiliadas, entre otros, nos aseguraremos de que ellos cumplan con la legislación en materia de protección de datos, con las medidas de seguridad y las mismas garantías otorgadas por nosotros. Asimismo, te recomendamos consultar la política de protección de datos del proveedor correspondiente. El alcance de los datos transmitidos será el mínimo necesario. Lo anterior de conformidad con las autorizaciones que hayan sido otorgadas por los Usuarios de los datos personales. APPFIT para estos casos suscribirá el contrato de transmisión a que haya lugar si procede de acuerdo con la ley vigente. Una vez cese la necesidad de Tratamiento de los Datos Personales, los mismos serán eliminados de las bases de datos de APPFIT en términos seguros.</p>

                            <hr class="my-4">
                            <h6 class="text-primary" id="anuncios">15.Anuncios </h6>
                            <p class="ps-3">
                                Los Usuarios aceptan que APPFIT podrá utilizar sus datos de contacto con el fin de informarles acerca de Ofertas o Promociones y con su autorización previa enviarle anuncios y otro material de mercadeo, transmitido a la dirección de correo electrónico que ha proporcionado el Usuario.
                                El Usuario puede desinscribirse del servicio de envío de material de mercadeo en cualquier momento mediante envío de una notificación mediante el correo que la publicidad fue enviada. Se aclara que APPFIT no se hace responsable por el contenido de dichos anuncios y los productos entregados o servicios prestados por parte de terceros.
                            </p>

                            <hr class="my-4">
                            <h6 class="text-primary " id="cookies_">16.Cookies y almacenamiento de información Local </h6>
                            <p class="ps-3">Al acceder a APPSFIT, APPFIT puede usar tecnologías como "cookies" (o tecnologías similares), que almacena cierta información en el computador ("Almacenamiento Local") y que permite la activación automática de ciertas características y el mejor uso del servicio. </p>
                            <p class="ps-3">Las cookies no incluye ninguna información sobre el Usuario, excepto la contraseña de sesión, la cual  se elimina al finalizar la sesión en la página web (generalmente después de 24 horas). La mayoría de los navegadores permiten borrar las cookies de su disco duro, aceptación de bloqueo de cookies, o recibir una advertencia antes de que se almacene una cookie. Para borrar o desactivar la opción de Almacenamiento Local el Usuario debe utilizar la opción de configuración según las instrucciones específicas proporcionadas por el proveedor de tecnología. Sin embargo, si el Usuario bloquea o borrar las cookies la experiencia del Usuario en línea puede ser limitada.</p>
                            <p class="ps-3">APPFIT utiliza ciertas cookies de terceros cada vez que el Usuario visita alguno de los sitios web de APPFIT o alguno de los anunciantes donde hacemos la gestión, cuando visita otros sitios web que utilizan cookies similares sin alterar el servicio de APPSFIT. Los cookies de terceros se almacenan solamente como información no personal, como el historial de las páginas web visitadas, la duración de su navegación, etc.</p>

                            <hr class="my-4">
                            <h6 class="text-primary" id="seguridad">17.Seguridad </h6>
                            <p>
                                APPFIT prevé, cuida y adopta las medidas técnicas, humanas y administrativas que sean necesarias para mantener la seguridad de la información de los Usuarios y procura evitar  su pérdida, adulteración, acceso o consulta de terceros no autorizados a la página web a través de tecnologías estándar de la industria y los procedimientos internos, incluso mediante el uso de símbolos y mecanismos de encriptación. Sin embargo, APPFIT no garantiza que nunca se produzcan accesos no autorizados. Así mismo, te garantizamos que:

                            </p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    APPFIT cuenta con protocolos de seguridad y acceso a los sistemas de información, almacenamiento y procesamiento, incluidas medidas físicas de control de riesgos de seguridad. Permanentemente se realiza monitoreo al sistema a través de análisis de vulnerabilidades. El personal de APPFIT que realiza el tratamiento de los datos personales ejecuta dichos protocolos con el fin de garantizar la seguridad de la información.
                                </li>

                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    APPFIT tiene el deber de notificar si existe una brecha de seguridad en la información a los Usuarios dentro de las 72 horas a la misma.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    El acceso a las diferentes bases de datos se encuentra restringido incluso para los empleados y colaboradores.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Todos los empleados y terceros han suscrito cláusulas de confidencialidad en sus contratos y están comprometidos con la manipulación adecuada de las bases de datos atendiendo a los lineamientos sobre tratamiento de la información establecida en la Ley.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Es responsabilidad del Usuario tener todos los controles de seguridad en sus equipos o redes privadas para su navegación hacia nuestros portales.
                                </li>
                            </ul>

                            <hr class="my-4">
                            <h6 class="text-primary" id="cambios_politica">18. Cambios en la Política de Privacidad</h6>
                            <p class="ps-3">
                                Cualquier información del Usuario se encuentra regulada por los Términos y Condiciones y Políticas de Privacidad de APPSFIT, APPFIT se reserva el derecho de modificarlas en cualquier momento, por lo cual se recomienda al Usuario visitar ésta página con frecuencia. En caso de cualquier cambio material, APPFIT hará lo posible para publicar un aviso de dicha modificación en la página web.
                            </p>
                            <p class="ps-3">
                                Cualquier cambio en la Política de Privacidad empezará a regir a partir de la "última actualización" y el uso continuado del servicio por el Usuario en la fecha de última revisión constituirá aceptación de los mismos
                            </p>


                            <hr class="my-4">
                            <h6 class="text-primary" id="atencion_consultas">19. Atención a consultas, peticiones, quejas  y reclamos</h6>
                            <p>Todo Usuario o causahabiente de Datos Personales tiene derecho de forma gratuita a realizar consultas y solicitudes a APPFIT para conocer, acceder, actualizar, rectificar, suprimir información, solicitar la portabilidad de los datos y revocar la autorización o para realizar peticiones, quejas y reclamos respecto al Tratamiento que APPFIT da a la información.</p>
                            <p>Los Usuarios pueden contactarse a los correos electrónicos de sus Customer Managers o ingresar un ticket de ayuda en APPSFIT.</p>
                            <p>La consulta debe estar dirigida a APPFIT, con el nombre completo del Usuario, la descripción de la consulta, solicitud, petición, queja o reclamo, la dirección de residencia, el teléfono de contacto y el correo electrónico. El Usuario de la información deberá presentar y/o adjuntar los siguientes documentos:</p>
                            <ul>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Si se trata del Usuario: Documento de identidad válido.
                                </li>

                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Si se trata del causahabiente: Documento de identidad válido, Registro Civil de Defunción del Usuario, Documento que acredite la calidad en que actúa y el número del documento de identidad del Usuario.
                                </li>
                                <li style="border-bottom: 1px solid rgba(0, 0, 0, .125);">
                                    Si se trata de un representante legal y/o apoderado: Documento de identidad válido, Documento que acredite la calidad de Representante legal y/o apoderado del Usuario y el número del documento de identidad del Usuario
                                </li>
                            </ul>
                            <p>En caso de que la consulta resulte incompleta, APPFIT solicitará al interesado para que subsane las fallas dentro de los cinco (5) días siguientes a la recepción del reclamo. Transcurridos dos meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido de la reclamación o petición.</p>
                            <p>La consulta será atendida en un término máximo de diez (10) días hábiles contados a partir de la fecha de radicación. Cuando no fuere posible atender la consulta dentro de dicho término, se informarán los motivos de la demora, y la fecha en que se atenderá su consulta, la cual en ningún caso podrá superar los cinco (5) días hábiles siguientes al vencimiento del primer término.</p>
                            <p>Vencido el término legal respectivo, APPFIT no elimina de las bases de datos los  datos personales del Usuario que lo solicitó, el Usuario tendrá derecho a solicitar a la Superintendencia de Industria y Comercio que ordene la revocatoria de la autorización y/o la supresión de los datos personales.</p>


                            <hr class="my-4">
                            <h6 class="text-primary" id="revocatoria">20. Revocatoria de la autorización y/o supresión del dato</h6>
                            <p class="ps-3">
                                Todo Usuario o causahabiente de Datos Personales tiene derecho a solicitar a APPFIT la eliminación total o parcial de sus Datos Personales. Para ello se seguirá el procedimiento establecido en el punto anterior de este documento.
                            </p>
                            <p class="ps-3">
                                La supresión de Datos operará y será definitiva siempre y cuando los mismos: (a) no estén siendo tratados conforme a lo establecido por la legislación vigente, (b) hayan dejado de ser necesarios para la finalidad con la cual se recaudaron o, (c) se haya superado el periodo de tiempo requerido para cumplir con el fin por el cual se recaudaron.
                            </p>
                            <p class="ps-3">
                                APPFIT podrá negar la eliminación cuando: (a) El Usuario tenga el deber legal y/o contractual de permanecer en la base de datos; (b) La supresión de los datos obstaculice actuaciones judiciales o administrativas en curso.
                            </p>

                            <hr class="my-4">
                            <h6 class="text-primary" id="privacidad_informacion">21. Privacidad de la información</h6>
                            <p class="ps-3">APPFIT está comprometida con proteger la información de los Usuarios. Por lo tanto respeta y protege los datos personales de acuerdo a estándares internacionales.</p>
                            <p class="ps-3">22.Vigencia</p>
                            <p class="ps-3">Las presentes Políticas de Tratamiento de la Información entran en vigencia a partir del 02 de enero 2023 y las Bases de Datos que contienen la información de los Usuarios tendrán una vigencia de 10 años prorrogables por períodos iguales.</p>

                            <p class="ps-3">23.General</p>
                            <p class="ps-3">
                                En caso de cualquier controversia entre el Usuario y APPFIT con relación a las Políticas de Privacidad, las partes se comprometen a llevar las diferencias ante el Tribunal de Arbitramento de Perú y aceptan que sean dichos tribunales los competentes a la hora de resolver los litigios de dichas demandas.

                            </p>
                            <p class="ps-3">
                                24.Inquietudes o dudas de los Usuario

                            </p>
                            <p class="ps-3">
                                Si tienes alguna pregunta (o comentario) acerca de la Política de Privacidad, el Usuario puede enviar un correo electrónico a la siguiente dirección: softwareparagimnasios@gmail.com , APPFIT responderá en el menor plazo posible.

                            </p>
                            <p class="ps-3">
                                25.Notificación y Datos de Contacto de APPFIT

                            </p>
                            <p class="ps-3" style="display:none;">
                                APPFIT se encuentra ubicado en la siguiente dirección y los datos de contacto son los siguientes, lo anterior para efectos de ser notificado de cualquier acto judicial o de cualquier tipo.

                            </p>
                            <p class="ps-3" style="display:none;">
                                Dirección: Ometusco No.35 Col. Hipódromo Condesa Alcaldía .Cuauhtémoc C.P. 06100 CDMX,

                            </p>
                            <p class="ps-3">
                                Correo electrónico: softwareparagimnasios@gmail.com
                            </p>
                            <p class="ps-3">
                                Última Actualización 09 de enero de 2023
                            </p>


                        </div>
                    </div>
                    @*<div class="card mb-3">
                        <div class="card-header bg-light">
                            <h5 class="mb-0" id="subscriptions">2.Definiciones</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="text-primary">Free service</h6>
                            <p class="mb-0 ps-3">We may make certain Services available to you free of charge, up to certain limits as described on the Website (“Free Services”). Usage of the Services in excess of those limits requires a payment. We may terminate your access to the Free Services at any time without prior notice and will have no liability in respect of such termination. Without limiting the scope of clause 15, Free Services are provided without any warranty.</p>
                            <hr class="my-4">
                            <h6 class="text-primary">Paid service</h6>
                            <ol type="1">
                                <li>If you use our Services and cross the limits of the Free Services we provide, the ‘Paid service’ section applies for you</li>
                                <li>The “Invoice Payment” are the fees payable for your invoice, as specified to you when you use our Service beyond the free usage limit. You shall pay for the Invoice Payment to us for the term of your paid usage.</li>
                                <li>You won’t be charged for using our services until your usage crosses the free usage limit. At the end of each month (considering you have used beyond our free usage limit), we will generate an invoice containing your usage information, and the due amount for that month.</li>
                                <li>Invoice Fees are payable in the currency specified when you sign up for the Service and are exclusive of value added tax (or other applicable sales tax), which shall be added at the appropriate rate.</li>
                            </ol>
                            <hr class="my-4">
                            <h6 class="text-primary">Credit cards</h6>
                            <p class="mb-0 ps-3">As long as you’re a paid user or have an outstanding balance with us, you will provide us with valid credit card information and authorize us to deduct the monthly invoice charges against that credit card (considering you have used beyond our free usage limit). We do not save card information that you provided, rather we use Stripe. You must replace the information for any credit card that expires with information for a different valid credit card. You can add multiple credit cards in our service, but only the card that you mark as Primary will be used to charge you for using paid services. </p>
                            <hr class="my-4">
                            <h6 class="text-primary">Refunds</h6>
                            <p class="mb-0 ps-3">You won’t be entitled to a refund from us. As a postpaid service, it’s invalid. But if your invoice has inappropriate information due to any software bug or any other reason, we will refund the extra amount we charged within 14 working days after the discovery. You need to let us know about the extra amount charged from you.</p>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <h5 class="mb-0" id="termination">Termination</h5>
                        </div>
                        <div class="card-body">
                            <p class="mb-0 ps-3">Either you or we may terminate this Agreement upon written notice to the other party of a material breach, or if the other party becomes the subject of a petition in insolvency proceedings, bankruptcy, receivership, liquidation or assignment for the benefit of its creditors.</p>
                        </div>
                    </div>*@

                </div>
                <div class="col-lg-4 ps-lg-2">
                    <div class="sticky-sidebar" style="background-color: #fff; ">
                        <div class="card sticky-top">
                            <div class="card-header border-bottom">
                                <h6 class="mb-0 fs-0">
                                    Tabla de contenidos
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="terms-sidebar nav flex-column fs--1" id="terms-sidebar">
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#general">General</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#definiciones">Definiciones</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#reglamento_">Reglamento General de Protección de Datos Personales</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#politica_tratamiento">Política de Tratamiento o Manejo de Datos Personales</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#autorizacion_usuario">Autorización del Usuario para el Tratamiento de Datos</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#finalidades">Finalidades y Usos de los Datos Personales</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#autorizacion_expresa">Autorización Expresa para la Transferencia de Datos Personales</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#derechos_usuario"> Derechos de los Usuarios de los datos</a></div>
                                   
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#retencion_informacion">Retención de la Información</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#deberes_">Deberes de APPFIT como responsable del Tratamiento</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#informacion_recibida">Información recibida de los Usuarios</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#basededatos">Base de Datos</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#recopilacion_informacion">Recopilación de la información de los Usuarios</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#transferencia_terceros">Transferencia de Datos a Terceros</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#anuncios">Anuncios</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#cookies_">Cookies y almacenamiento de información Local</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#seguridad">Seguridad</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#cambios_politica">Cambios en la Política de Privacidad</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#atencion_consultas">Atención a consultas, peticiones, quejas y reclamos</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#revocatoria">Revocatoria de la autorización y/o supresión del dato</a></div>
                                    <div class="nav-item"><a class="nav-link px-0 py-1" href="#privacidad_informacion">Privacidad de la información</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


@*https://business.fitcolatam.com/politica-de-privacidad/*@
