<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="conexionDB" connectionString="Data Source=tcp:appsfitserver.database.windows.net,1433;Initial Catalog=bytefit;User Id=appsfit;Password=!Hx&amp;w@-_TrEtV2-;" providerName="System.Data.SqlClient" />-->
		<add name="conexionDB" connectionString="Data Source=tcp:appsfitserver.database.windows.net,1433;Initial Catalog=appsfit;Persist Security Info=False;User ID=appsfit;Password=Passw0rd;" providerName="System.Data.SqlClient" />
		<!--<add name="conexionDB" connectionString="Data Source=DESKTOP-O046H04\SQLEXPRESS2016;Initial Catalog=bytefit;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.diagnostics>
		<sources>
			<source name="Microsoft.Azure.SignalR" switchName="SignalRSwitch">
				<listeners>
					<add name="ASRS" />
				</listeners>
			</source>
		</sources>
		<!-- Sets the trace verbosity level -->
		<switches>
			<add name="SignalRSwitch" value="Information" />
		</switches>
		<!-- Specifies the trace writer for output -->
		<sharedListeners>
			<add name="ASRS" type="System.Diagnostics.TextWriterTraceListener" initializeData="asrs.log.txt" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="StorageAccountName" value="binzrepository" />
		<add key="StorageAccountKey" value="ZjC4RdM0+unnjHKjdkNBPhD/GgG6hogHgYJKfvjNSy2qHfzGvDqz/mrgAMUFQoz4jJ1zvua9MRGodjNxEa1jKQ==" />
		<add key="UriHost" value="http://localhost:4406/Upload/" />
		<add key="UseAzure" value="true" />

		<add key="HostFB" value="https://graph.facebook.com/v15.0" />

		<add key="longitudSerie" value="8" />
		<add key="RazonSocial" value="" />
		<add key="direccionEmpresa" value="" />
		<add key="distritoEmpresa" value="" />
		<add key="nombreImpresora" value="" />
		<add key="nombreImpresoraPedidos" value="" />

		<add key="RecordNumForPage_Todos" value="60" />
		<add key="RecordNumForPage" value="200" />
		<add key="RecordNumForPage_CentroEntrenamiento_uspListarPresencial_HorarioClasesConfiguracionCalendario" value="150" />
		<add key="CentroEntrenamiento_uspListarPresencial_HorarioClasesConfiguracionPaginaWeb" value="50" />

		<add key="RecordNumForPage_uspListarControlSalidaPorFechaAnular_Paginacion" value="13" />
		<add key="RecordNumForPage_uspListarDetalleAsistenciaSocio_Paginacion" value="5" />
		<add key="RecordNumForPage_uspListarPaquetesMenbresiasCursos_Paginacion" value="45" />
		<add key="RecordNumForPage_ListarAsistenciaTodosFiltro_Paginacion" value="40" />
		<add key="RecordNumForPage_uspListar_Socios_Inasistencias_NumeroRegistro" value="40" />
		<add key="RecordNumForPage_uspListarMembresiasSociosAcuenta_Paginacion" value="45" />
		<add key="RecordNumForPage_uspVerMasClientesComprometidosPagosCuotas_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListartablaProspectos_Paginacion" value="45" />
		<add key="RecordNumForPage_uspListarTablaRenovaciones_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarTablaVencidos_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarTablaInvitados_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspReporteVentasRangoFechas_Paginacion" value="45" />
		<add key="RecordNumForPage_ListarSociosLibresAsesores_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_ListarSociosReferido_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_ListarSociosLlamadaE_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_ListarGridAgendaGeneral_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarDetalleAsistenciaInvitados_Paginacion" value="45" />
		<add key="RecordNumForPage_uspListarAsistenciaTodosInvitados_Paginacion" value="45" />
		<add key="RecordNumForPage_uspListarRepartirClientesPorVendedor_Paginacion" value="45" />
		<add key="RecordNumForPage_uspListarGridCumpleanios_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarSocios_PorVendedor_Paginacion_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarHistorialMetas" value="24" />
		<add key="RecordNumForPage_ListarConfiguracion_apfitness_NumeroRegistros" value="60" />
		<add key="RecordNumForPage_ListarAdFitnessAtencionAlCliente_NumeroRegistros" value="45" />

		<add key="RecordNumForPage_uspListarProductosPorFiltros_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarProductoElaboradoPorFiltro_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarSuplementosPorFiltro_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarComprasSuplementos_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarComprasProductos_NumeroRegistros" value="45" />


		<add key="RecordNumForPage_uspListarControlMedidas_NumeroRegistros" value="10" />
		<add key="RecordNumForPage_uspListarControlMedidasActivas_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarAgendaNutricionalGeneral_NumeroRegistros" value="45" />

		<add key="RecordNumForPage_uspReporteVentasNutricionRangoFechas_Paginacion" value="45" />
		<add key="RecordNumForPage_uspReporteVentasPersonalizadoRangoFechas_Paginacion" value="45" />
		<add key="RecordNumForPage_uspReporteVentasSuplementosTotalesRangoFechas_Paginacion" value="45" />
		<add key="RecordNumForPage_uspListarDeudasSuplementosTotalesDiaRangoFechas_Paginacion" value="45" />
		<add key="RecordNumForPage_uspListarACuentaSuplementosPorFechaRangoFechas_Paginacion" value="45" />
		<add key="RecordNumForPage_uspListarSuplementosPagosPorFechaAnular_Paginacion" value="40" />
		<add key="RecordNumForPage_uspListarClientesAgendaComercialReinscripcion" value="45" />
		<add key="RecordNumForPage_uspListarClientesAgendaComercialRenovacion" value="45" />
		<add key="RecordNumForPage_uspListarRopasPorFiltro_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarComprasRopas_NumeroRegistros" value="45" />
		<add key="RecordNumForPage_uspListarRopasPagosPorFechaAnular_Paginacion" value="45" />
		<add key="RecordNumForPage_uspReporteVentasRopasTotalesRangoFechas_Paginacion" value="45" />
		<add key="RecordNumForPage_uspListarDeudasRopasTotalesDiaRangoFechas_Paginacion" value="45" />
		<add key="RecordNumForPage_uspListarClientesAgendaComercialRenovacionInscritos" value="45" />
		<add key="RecordNumForPage_uspListarVerificadorInformacionSociosComerciales_paginacion" value="25" />

		<add key="RecordNumForPage_uspListarAperturaCaja_Paginacion" value="25" />

		<!--<add key="owin:AppStartup" value="WebLayer.Models.IdentityConfig"></add>
    <add key="owin:AutomaticAppStartup" value="false" />-->

		<add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />

		<!-- Azure Storage: AzureStorageConnectionString-1 -->

		<add key="AzureStorageConnectionString-1" value="DefaultEndpointsProtocol=https;AccountName=binzrepository;AccountKey=ZjC4RdM0+unnjHKjdkNBPhD/GgG6hogHgYJKfvjNSy2qHfzGvDqz/mrgAMUFQoz4jJ1zvua9MRGodjNxEa1jKQ==;EndpointSuffix=core.windows.net" />

		<!-- *********************************** PASARELAS ******************************* -->

		<!-- host: Start Paypal -->
		<add key="HOST_PAYPAL_DEMO" value="https://api-m.sandbox.paypal.com"/>
		<add key="HOST_PAYPAL" value="https://api-m.paypal.com"/>
		<!-- host: End Paypal -->
		
		
		<!-- host: Start culqi -->
		<add key="SECURE_CULQI_V2" value="https://secure.culqi.com/v2"/>
		<add key="CULQI_V2" value="https://api.culqi.com/v2"/>
		<!-- host: End culqi -->
		
		
		<!-- host: Start mpago -->
		<add key="HOSTMPAGO" value="https://api.mercadopago.com"/>
		<!-- host: End mpago -->
		
		<!-- *********************************** PASARELAS ******************************* -->
		<!-- count bcc email -->
		<add key="BCCTOTAL" value="30"/>
		<add key="RecordNumForPage_custom" value="30" />
	</appSettings>

	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="~/access/login" protection="All" timeout="800" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/management/Index" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
		</authentication>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
		<customErrors mode="Off">
			<error statusCode="401" redirect="~/Error/AccessDenid" />
			<error statusCode="404" redirect="~/Error/NotFound" />
		</customErrors>
		<globalization culture="es-US" uiCulture="es-US" requestEncoding="utf-8" responseEncoding="utf-8" />

	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Connections.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http.Connections.Common" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.SignalR.Protocols" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.11.0" newVersion="1.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<contexts />
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.webServer>
		<!--<staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>-->
		<!--<staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
     </staticContent>-->
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--<rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="false">
          <match url="(.*)" ignoreCase="false"/>
          <conditions>
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>
        </rule>
      </rules> 
    </rewrite>-->
	</system.webServer>
</configuration>